In [1]:
#importing required libraries
import selenium
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import requests
import re

# Q1.Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
#connecting to the webdriver
driver=webdriver.Edge(r"C:\Users\invra\Downloads\edgedriver_win64\msedgedriver.exe")

In [3]:
#maximizing the window
driver.maximize_window()

In [4]:
#opening the given wikipedia link on automated edge browser
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

time.sleep(3)

In [51]:
#Creating empty lists for saving the required scraping details

Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

#getting the rank of video
try:
    Ranks=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in Ranks:
        Rank.append(i.text.replace('.', '').replace(' ', ''))
except NoSuchElementException:
    Rank.append("-")    

    
#getting the Name of the video
try:
    Names=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in Names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-") 
    

#getting the Name of the artist for the video
try:
    Artists=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
    for i in Artists:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-") 

    

#getting the views in billion for the video
try:
    View=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
    for i in View:
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-") 
    

#getting the uploaded date of the video
try:
    Upload=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')    
    for i in Upload:
        Upload_date.append(i.text)
except NoSuchElementException:
    Upload_date.append("-")

In [52]:
#Creating a pandas data frame
Top_YT_Videos=pd.DataFrame({"Rank":Rank,"Video_name":Name,"Artist":Artist,"Publication date":Upload_date,"Views (billions)":Views})
Top_YT_Videos

,Rank,Video_name,Artist,Publication date,Views (billions)
0,1,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.98
1,2,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.04
2,3,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.56
3,4,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.88
4,5,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.87
5,6,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.73
6,7,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.07
7,8,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.78
8,9,"""Learning Colors – Colorful Eggs on a Farm""[25]",Miroshka TV,"February 27, 2018",4.76
9,10,"""Wheels on the Bus""[26]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.76
10,11,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.63
11,12,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.17
13,14,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.80
14,15,"""Roar""[35]",Katy Perry,"September 5, 2013",3.70
15,16,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.70
16,17,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.66
17,18,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.61
18,19,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.53
19,20,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.42
21,22,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.39
22,23,"""Faded""[43]",Alan Walker,"December 3, 2015",3.38
23,24,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.36
24,25,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.35
25,26,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.33
26,27,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.31
27,28,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.30
28,29,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.24

In [50]:
# removing the last numbers from video_name column
Top_YT_Videos.Video_name = Top_YT_Videos.Video_name.apply(lambda x:x[:-4].strip('"'))
Top_YT_Videos

,Rank,Video_name,Uploader,Publication date,Views (billions)
0,1,Baby Shark D,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.98
1,2,Despa,Luis Fonsi,"January 12, 2017",8.04
2,3,Johny Johny Yes,LooLoo Kids,"October 8, 2016",6.56
3,4,Bath,Cocomelon – Nursery Rhymes,"May 2, 2018",5.88
4,5,Shape of,Ed Sheeran,"January 30, 2017",5.87
5,6,See You A,Wiz Khalifa,"April 6, 2015",5.73
6,7,Phonics Song with Two W,ChuChu TV,"March 6, 2014",5.07
7,8,Uptown,Mark Ronson,"November 19, 2014",4.78
8,9,Learning Colors – Colorful Eggs on a,Miroshka TV,"February 27, 2018",4.76
9,10,Wheels on the,Cocomelon – Nursery Rhymes,"May 24, 2018",4.76
10,11,Gangnam S,Psy,"July 15, 2012",4.63
11,12,Masha and the Bear – Recipe for Disa,Get Movies,"January 31, 2012",4.52
12,13,Dame Tu Co,El Chombo,"April 5, 2018",4.17
13,14,S,Maroon 5,"January 14, 2015",3.80
14,15,,Katy Perry,"September 5, 2013",3.70
15,16,Counting S,OneRepublic,"May 31, 2013",3.70
16,17,Ax,Crazy Frog,"June 16, 2009",3.66
17,18,S,Justin Bieber,"October 22, 2015",3.61
18,19,Thinking Out,Ed Sheeran,"October 7, 2014",3.53
19,20,Baa Baa Black S,Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21,Dark H,Katy Perry,"February 20, 2014",3.42
21,22,Waka Waka (This Time for Afr,Shakira,"June 4, 2010",3.39
22,23,F,Alan Walker,"December 3, 2015",3.38
23,24,Let He,Passenger,"July 25, 2012",3.36
24,25,Girls Like,Maroon 5,"May 31, 2018",3.35
25,26,Per,Ed Sheeran,"November 9, 2017",3.33
26,27,Bail,Enrique Iglesias,"April 11, 2014",3.31
27,28,Lea,Major Lazer,"March 22, 2015",3.30
28,29,Humpty the train on a fruits,Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30,Lakdi Ki K,Jingle Toons,"June 14, 2018",3.24

In [53]:
driver.close()

# Q2.Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [54]:
#connecting to the webdriver
driver=webdriver.Edge(r"C:\Users\invra\Downloads\edgedriver_win64\msedgedriver.exe")

In [55]:
#maximizing the window
driver.maximize_window()

In [60]:
#opening the given bcci link on automated edge browser
driver.get("https://www.bcci.tv/")

time.sleep(3)

In [61]:
#for going to the international fixtures page
fix=driver.find_element(By.XPATH,'//*[@id="navigation"]/ul[1]/li[2]/a')
fix.click()

In [62]:
#to click on view more fixtures button twice
for i in range(2):
    more1=driver.find_element(By.XPATH,'//button[@class="match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3"]')
    more1.click()
    time.sleep(2)

In [75]:
#creating empty lists to save the details
Match_Title=[]
Series=[]
Place=[]
Date=[]
Time=[]



#to get the match title
try:
    Match = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in Match:
        Match_Title.append(i.text.replace('-', '').replace(' ', ''))
except NoSuchElementException:
    Match_Title.append('-')
    


#to get the series name
try:
    name = driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
    for i in name:
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
    
    
#to get the place name
try:
    places = driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
    for i in places:
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
    

    
#to get the date of match
try:
    day = driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
    for i in day:
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')

    
    
#to get the time of match
try:
    times = driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
    for i in times:
        Time.append(i.text)
except NoSuchElementException:
    Time.append('-')

In [76]:
len(Match_Title),len(Series), len(Place),len(Date),len(Time)

(23, 23, 23, 23, 23)

In [77]:
#creating pandas data frame
Int_Fixtures = pd.DataFrame({"Match_Title":Match_Title,"Series":Series,"Place":Place,"Date":Date,"Time":Time})
Int_Fixtures

,Match_Title,Series,Place,Date,Time
0,2ndT20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground,",29 DEC 2022,5:15 PM IST
1,3rdT20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground,",31 DEC 2022,1:30 PM IST
2,4thT20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground,",2 JAN 2023,5:15 PM IST
3,1stT20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Wankhede Stadium,",3 JAN 2023,7:00 PM IST
4,5thT20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground,",4 JAN 2023,1:30 PM IST
5,2ndT20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Maharashtra Cricket Association Stadium,",5 JAN 2023,7:00 PM IST
6,3rdT20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Saurashtra Cricket Association Stadium,",7 JAN 2023,7:00 PM IST
7,1stODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Barsapara Cricket Stadium,",10 JAN 2023,1:30 PM IST
8,2ndODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Eden Gardens,",12 JAN 2023,1:30 PM IST
9,3rdODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Greenfield International Stadium,",15 JAN 2023,1:30 PM IST
10,1stODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,"Rajiv Gandhi International Stadium,",18 JAN 2023,1:30 PM IST
11,2ndODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,Shaheed Veer Narayan Singh International Crick...,21 JAN 2023,1:30 PM IST
12,3rdODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,"Holkar Cricket Stadium,",24 JAN 2023,1:30 PM IST
13,1stT20I,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,"JSCA International Stadium Complex,",27 JAN 2023,7:30 PM IST
14,2ndT20I,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,29 JAN 2023,7:30 PM IST
15,3rdT20I,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,"Narendra Modi Stadium,",1 FEB 2023,7:30 PM IST
16,1stTest,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Vidarbha Cricket Association Stadium,",9 FEB 2023,9:30 AM IST
17,2ndTest,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Arun Jaitley Stadium,",17 FEB 2023,9:30 AM IST
18,3rdTest,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Himachal Pradesh Cricket Association Stadium,",1 MAR 2023,9:30 AM IST
19,4thTest,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Narendra Modi Stadium,",9 MAR 2023,9:30 AM IST
20,1stODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Wankhede Stadium,",17 MAR 2023,1:30 PM IST
21,2ndODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",19 MAR 2023,1:30 PM IST
22,3rdODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"MA Chidambaram Stadium,",22 MAR 2023,1:30 PM IST

In [78]:
driver.close()

# Q3.Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [79]:
#connecting to the webdriver
driver=webdriver.Edge(r"C:\Users\invra\Downloads\edgedriver_win64\msedgedriver.exe")

In [80]:
#maximizing the window
driver.maximize_window()

In [81]:
#opening the given guru99 link on automated edge browser
driver.get("https://www.guru99.com/")

time.sleep(3)

In [82]:
#for clicking on the selenium page link
link=driver.find_element(By.XPATH,'//*[@id="post-2669"]/div/div[1]/div[1]/div[2]/div/div[2]/span[8]/a/img')
link.click()
time.sleep(3)

In [83]:
#for clicking on the exception handlimg tutorial link
link2=driver.find_element(By.XPATH,'//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a')
link2.click()
time.sleep(3)

In [160]:
#creating empty lists for saving the details
Name=[]
Description=[]


#to get the name of the exception and removing the numbers at start and :at last with strip
name = driver.find_elements(By.XPATH,'//*[@id="post-1953"]/div/div/p/strong') #//*[@id="post-1953"]/div/div/p[2]/strong
for i in name:
    Name.append(i.text.strip(' ')[3:].replace(' ','').strip(":")[:])
    
    
    
#to get the text of the exception
desc = driver.find_elements(By.XPATH,'//*[@id="post-1953"]/div/div/p')
for i in desc:
    Description.append(i.text.split(":")[-1])
#//*[@id="post-1953"]/div/div/p[2]/text()[1]
#//*[@id="post-1953"]/div/div/p[1]/text()
Description

[' This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 ' This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 ' This Exception occurs if an element could not be found.',
 ' This Exception occurs if the frame target to be switched to does not exist.',
 ' This Exception occurs when you switch to no presented alert.',
 ' This Exception occurs if the window target to be switch does not exist.',
 ' This Selenium exception occurs happens when the web element is detached from the current DOM.',
 ' The WebDriver is acting after you quit the browser.',
 ' Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 ' This Exception takes place when the WebDriver is acting right after you close the browser.',
 ' This type of Exception takes place when there is a disconnection in the driver.',
 ' The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 ' This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 ' This happens while interacting with the Firefox extension or the remote driver server.',
 ' Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 ' This expectation will occur when IME engine activation has failed.',
 ' It takes place when IME support is unavailable.',
 ' Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 ' It occurs when an argument does not belong to the expected type.',
 ' This happens when you try to add a cookie under a different domain instead of current URL.',
 ' This type of Exception matches an interacting operation that is not valid.',
 ' It occurs when command can’t be finished when the element is invalid.',
 ' This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 ' This occurs when the frame or window target to be switched does not exist.',
 ' This issue occurs while executing JavaScript given by the user.',
 ' It occurs when you afford to get the session when the session is not created.',
 ' This kind of Exception occurs when the attribute of an element could not be found.',
 ' It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 ' ContextAware does mobile device testing.',
 ' This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 ' This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 ' This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 ' It is not possible to capture a screen.',
 ' It happens when a new session could not be successfully created.',
 ' This occurs if a driver is unable to set a cookie.',
 ' Happens if a support class did not get a web element as expected.',
 ' This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 ' It occurs when there is the appearance of an unexpected alert.',
 ' This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 ' This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 ' This occurs when remote WebDriver doesn’t send valid commands as expected.',
 '',
 'Step 1) Try-catch',
 'This method can catch Exceptions, which uses a combination of the try and catch keywords. Try command indicates the start of the block, and Catch is placed at the end of the try block, which helps to resolve the Exception.',
 'Step 2) Multiple catch blocks',
 'There are various types of Exceptions, and you can expect more than one exception from a single block of code. Multiple catches help you to handle every type of Exception separately with a separate block of code. It can be used for more than two catch blocks, and there is no limitation on the number of catch blocks.',
 'Step 3) Throw',
 'When you want to generate an Exception, the Throw keyword is used to throw Exception to handle it in the run time. When you are throwing an Exception without handling it, then they need to use Throw keyword.',
 'Step 4) Multiple Exceptions',
 'You can mention various Exceptions in the throws clause.',
 'Step 5) Finally',
 'The Final keyword is used to create a block of code under the try block. It is the final code that helps you to executes irrespective of the occurrence of an exception',
 '']

In [161]:
len(Name),len(Description)

(47, 53)

In [162]:
Name[0:41],Description[0:41]

(['ElementNotVisibleException',
  'ElementNotSelectableException',
  'NoSuchElementException',
  'NoSuchFrameException',
  'NoAlertPresentException',
  'NoSuchWindowException',
  'StaleElementReferenceException',
  'SessionNotFoundException',
  'TimeoutException',
  'WebDriverException',
  'ConnectionClosedException',
  'ElementClickInterceptedException',
  'ElementNotInteractableException',
  'ErrorInResponseException',
  'ErrorHandler.UnknownServerException',
  'ImeActivationFailedException',
  'ImeNotAvailableException',
  'InsecureCertificateException',
  'InvalidArgumentException',
  'InvalidCookieDomainException',
  'InvalidCoordinatesException',
  'InvalidElementStateException',
  'InvalidSessionIdException',
  'InvalidSwitchToTargetException',
  'JavascriptException',
  'JsonException',
  'NoSuchAttributeException',
  'MoveTargetOutOfBoundsException',
  'NoSuchContextException',
  'NoSuchCookieException',
  'NotFoundException',
  'RemoteDriverServerException',
  'ScreenshotException',
  'SessionNotCreatedException',
  'UnableToSetCookieException',
  'UnexpectedTagNameException',
  'UnhandledAlertException',
  'UnexpectedAlertPresentException',
  'UnknownMethodException',
  'UnreachableBrowserException',
  'UnsupportedCommandException'],
 [' This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
  ' This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
  ' This Exception occurs if an element could not be found.',
  ' This Exception occurs if the frame target to be switched to does not exist.',
  ' This Exception occurs when you switch to no presented alert.',
  ' This Exception occurs if the window target to be switch does not exist.',
  ' This Selenium exception occurs happens when the web element is detached from the current DOM.',
  ' The WebDriver is acting after you quit the browser.',
  ' Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
  ' This Exception takes place when the WebDriver is acting right after you close the browser.',
  ' This type of Exception takes place when there is a disconnection in the driver.',
  ' The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
  ' This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
  ' This happens while interacting with the Firefox extension or the remote driver server.',
  ' Exception is used as a placeholder in case if the server returns an error without a stack trace.',
  ' This expectation will occur when IME engine activation has failed.',
  ' It takes place when IME support is unavailable.',
  ' Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
  ' It occurs when an argument does not belong to the expected type.',
  ' This happens when you try to add a cookie under a different domain instead of current URL.',
  ' This type of Exception matches an interacting operation that is not valid.',
  ' It occurs when command can’t be finished when the element is invalid.',
  ' This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
  ' This occurs when the frame or window target to be switched does not exist.',
  ' This issue occurs while executing JavaScript given by the user.',
  ' It occurs when you afford to get the session when the session is not created.',
  ' This kind of Exception occurs when the attribute of an element could not be found.',
  ' It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
  ' ContextAware does mobile device testing.',
  ' This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
  ' This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
  ' This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
  ' It is not possible to capture a screen.',
  ' It happens when a new session could not be successfully created.',
  ' This occurs if a driver is unable to set a cookie.',
  ' Happens if a support class did not get a web element as expected.',
  ' This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
  ' It occurs when there is the appearance of an unexpected alert.',
  ' This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
  ' This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
  ' This occurs when remote WebDriver doesn’t send valid commands as expected.'])

In [164]:
#creating a pandas data frame
Exceptions=pd.DataFrame({"Exception_Name":Name[0:41],"Exception_Description":Description[0:41]})
Exceptions

,Exception_Name,Exception_Description
0,ElementNotVisibleException,This type of Selenium exception occurs when a...
1,ElementNotSelectableException,This Selenium exception occurs when an elemen...
2,NoSuchElementException,This Exception occurs if an element could not...
3,NoSuchFrameException,This Exception occurs if the frame target to ...
4,NoAlertPresentException,This Exception occurs when you switch to no p...
5,NoSuchWindowException,This Exception occurs if the window target to...
6,StaleElementReferenceException,This Selenium exception occurs happens when t...
7,SessionNotFoundException,The WebDriver is acting after you quit the br...
8,TimeoutException,Thrown when there is not enough time for a co...
9,WebDriverException,This Exception takes place when the WebDriver...
10,ConnectionClosedException,This type of Exception takes place when there...
11,ElementClickInterceptedException,The command may not be completed as the eleme...
12,ElementNotInteractableException,This Selenium exception is thrown when any el...
13,ErrorInResponseException,This happens while interacting with the Firef...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if...
15,ImeActivationFailedException,This expectation will occur when IME engine a...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certi...
18,InvalidArgumentException,It occurs when an argument does not belong to...
19,InvalidCookieDomainException,This happens when you try to add a cookie und...
20,InvalidCoordinatesException,This type of Exception matches an interacting...
21,InvalidElementStateException,It occurs when command can’t be finished when...
22,InvalidSessionIdException,This Exception took place when the given sess...
23,InvalidSwitchToTargetException,This occurs when the frame or window target t...
24,JavascriptException,This issue occurs while executing JavaScript ...
25,JsonException,It occurs when you afford to get the session ...
26,NoSuchAttributeException,This kind of Exception occurs when the attrib...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching...
30,NotFoundException,This Exception is a subclass of WebDriverExce...
31,RemoteDriverServerException,This Selenium exception is thrown when the se...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be su...
34,UnableToSetCookieException,This occurs if a driver is unable to set a co...
35,UnexpectedTagNameException,Happens if a support class did not get a web ...
36,UnhandledAlertException,This expectation occurs when there is an aler...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
38,UnknownMethodException,This Exception happens when the requested com...
39,UnreachableBrowserException,This Exception occurs only when the browser i...
40,UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...

In [165]:
driver.close()

# Q4.Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [1]:
#importing required libraries
import selenium
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import requests
import re

In [2]:
#connecting to the webdriver
driver=webdriver.Edge(r"C:\Users\invra\Downloads\edgedriver_win64\msedgedriver.exe")

In [4]:
#maximizing the window
driver.maximize_window()

In [5]:
#opening the given statisticstimes link on automated edge browser
driver.get("http://statisticstimes.com/")

time.sleep(3)

In [9]:
# clicking on Economy button
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

In [10]:
# clicking on India
driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]").click()
time.sleep(3)

In [13]:
# clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()
time.sleep(3)

In [17]:
# creating empty list to save the scraping details
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_Billion = []

# scraping Rank Details
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("NA")
    
    
# scraping State Name
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("NA")
    
    
# scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("NA")
    
    

# scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("NA")
    
    
    
# scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("NA")
    
    
# scraping GDP deatails
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_Billion.append(i.text)
except NoSuchElementException:
    GDP_Billion.append("NA")

In [18]:
len(Rank),len(State),len(GSDP1),len(GSDP2),len(Share),len(GDP_Billion)

(66, 66, 66, 66, 66, 66)

In [20]:
#first 33 rows are GSDP information and remaining 33 are for NSDP
#Creating pandas data frame
State_GDP = pd.DataFrame({"Rank":Rank[0:33],"State":State[0:33],"GSDP(18-19)":GSDP1[0:33],"GSDP(19-20)":GSDP2[0:33],"Share(18-19)":Share[0:33],"GDP($ billion)":GDP_Billion[0:33]})
State_GDP

,Rank,State,GSDP(18-19),GSDP(19-20),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [21]:
#closing the automated browser
driver.close()

# Q5.Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [91]:
#importing required libraries
import selenium
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import requests
import re

In [92]:
#connecting to the webdriver
driver=webdriver.Edge(r"C:\Users\invra\Downloads\edgedriver_win64\msedgedriver.exe")

In [93]:
#maximizing the window
driver.maximize_window()

In [105]:
#opening the given github link on automated edge browser
driver.get("https://github.com/")

time.sleep(3)

In [107]:
# getting explore button and clicking on it
explore = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]").click()

# selecting trending option
trend_url = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
urls = trend_url.get_attribute("href")
driver.get(urls)

In [108]:
#creating empty lists for saving the details

Title = []
Desc = []
Contr_Count = []
Language = []
URL = []
lang=[]


#As all the details are in the individual repository pages
# fetching urls for each repository
repo = driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']//a")
for i in repo:
    URL.append(i.get_attribute("href"))
    

# for getting Repository title data
titles = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']")
for i in titles:
    Title.append(i.text)
    
# scraping individual data from all repository pages
for i in URL:
    driver.get(i)
    time.sleep(5)
    
    # Getting Repository Description data 
    try:
        Description = driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        Desc.append(Description.text)
    except NoSuchElementException:
        Desc.append('NA')
        
        
    # scraping Contributors Count data
    try:
        contributors = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
        Contr_Count.append(contributors.text.replace('Contributors',''))
    except NoSuchElementException:
        Contr_Count.append('NA')

        
    # scraping Languages used data
    try:
        #lang = driver.find_elements(By.XPATH,"//ul[@class= 'list-style-none']//li//span[1]")
        for i in driver.find_elements(By.XPATH,"//ul[@class= 'list-style-none']//li//span[1]"):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        Language.append('NA')

In [109]:
#Creating pandas Data Frame

Repositories = pd.DataFrame({"Repo_Title":Title,"Description":Desc,"Contributors Count":Contr_Count})
Repositories

,Repo_Title,Description,Contributors Count
0,zlib-searcher / zlib-searcher,search zlib/libgen index to get ipfs_cid.,9
1,LAION-AI / Open-Assistant,OpenAssistant is a chat-based assistant that u...,43
2,vinta / awesome-python,"A curated list of awesome Python frameworks, l...",396
3,2dust / v2rayNG,"A V2Ray client for Android, support Xray core ...",23
4,karpathy / nanoGPT,"The simplest, fastest repository for training/...",2
5,ashemery / exploitation-course,Offensive Software Exploitation Course,NA
6,mxssl / sre-interview-prep-guide,Site Reliability Engineer Interview Preparatio...,12
7,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,76
8,Z4nzu / hackingtool,ALL IN ONE Hacking Tool For Hackers,27
9,zakird / crux-top-lists,Downloadable snapshots of the Chrome Top Milli...,NA
10,termux / termux-packages,A build system and primary set of packages for...,376
11,priyankavergadia / GCPSketchnote,If you are looking to become a Google Cloud En...,2
12,vercel / hyper,A terminal built on web technologies,274
13,alist-org / alist,🗂️A file list program that supports multiple s...,30
14,ocornut / imgui,Dear ImGui: Bloat-free Graphical User interfac...,313
15,calcom / cal.com,Scheduling infrastructure for absolutely every...,189
16,pola-rs / polars,"Fast multi-threaded, hybrid-streaming DataFram...",141
17,github / docs,The open-source repo for docs.github.com,"1,628"
18,jerryjliu / gpt_index,An index created by GPT to organize external i...,7
19,OpenBB-finance / OpenBBTerminal,"Investment Research for Everyone, Anywhere.",158
20,itzg / docker-minecraft-server,Docker image that provides a Minecraft Server ...,177
21,pmndrs / zustand,🐻 Bear necessities for state management in React,138
22,google / osv-scanner,Vulnerability scanner written in Go which uses...,15
23,jellyfin / Swiftfin,Native Jellyfin Client for iOS and tvOS,113
24,laurent22 / joplin,Joplin - an open source note taking and to-do ...,513

# Q6.Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [39]:
#importing required libraries
import selenium
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import requests
import re

In [40]:
#connecting to the webdriver
driver=webdriver.Edge(r"C:\Users\invra\Downloads\edgedriver_win64\msedgedriver.exe")

In [41]:
#maximizing the window
driver.maximize_window()

In [110]:
#opening the given billiboard link on automated edge browser
driver.get("http://www.billboard.com/")

time.sleep(3)

In [111]:
# clicking on option button
charts=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()

# Q7.Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [50]:
#importing required libraries
import selenium
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import requests
import re

In [51]:
#connecting to the webdriver
driver=webdriver.Edge(r"C:\Users\invra\Downloads\edgedriver_win64\msedgedriver.exe")

In [52]:
#maximizing the window
driver.maximize_window()

In [56]:
#opening the given naukri link on automated edge browser
driver.get("https://www.naukri.com/hr-recruiters-consultants")

time.sleep(3)

In [57]:
# fetching urls to navigate recruiter page
recruiter = driver.find_element(By.XPATH,"//a[@title='Search Recruiters']")
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)

In [58]:
# fetching search button, sending keys and clicking on it
search = driver.find_element(By.XPATH,"//div[@class='inpWrap']//input")
search.send_keys("Data Science")

button = driver.find_element(By.XPATH,"//button[@class='fl qsbSrch blueBtn']").click()
time.sleep(3)

In [60]:
# creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

# scraping data of Names
for i in driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']"):
    Name.append(i.text)
time.sleep(3)


# scraping data of Designation
for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']"):
    Designation.append(i.text)
time.sleep(3)


# scraping data of Company Name
for i in driver.find_elements(By.XPATH,"//div[@class='vcard']//p[1]/a[2]"):
    Company.append(i.text)
time.sleep(3)


# scraping data of Skills
for i in driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append('-')
time.sleep(3)


# scraping data of Location
for i in driver.find_elements(By.XPATH,"//div[@class='vcard']//p[1]/span/small"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Location.append(i.text)
    except NoSuchElementException:
        Location.append('-')
time.sleep(3)

In [63]:
# creating pandas dataframe for scraped data
Naukri = pd.DataFrame({})
Naukri['Name'] = Name[:48]
Naukri['Designation'] = Designation[:48]
Naukri['Company'] = Company[:48]
Naukri['Skills'] = Skills[:48]
Naukri['Location'] = Location[:48]
Naukri

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
15,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
33,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
34,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
35,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

# Q8.Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [64]:
#importing required libraries
import selenium
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import requests
import re

In [65]:
#connecting to the webdriver
driver=webdriver.Edge(r"C:\Users\invra\Downloads\edgedriver_win64\msedgedriver.exe")

In [66]:
#maximizing the window
driver.maximize_window()

In [67]:
#opening the given  link on automated edge browser
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

time.sleep(3)

In [70]:
# creating empty lists for saving the details
Book_Name = []
Author_Name = []
Volumes_Sold = []
Publisher = []
Genre = []


# scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[2]"):
    Book_Name.append(i.text)

    
# scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author_Name.append(i.text)
    except NoSuchElementException:
        Author_Name.append('-')
time.sleep(3)


# scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[4]"):
    Volumes_Sold.append(i.text)
    
    
# scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[5]"):
    Publisher.append(i.text)
    
    
# scraping  data of genre
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[6]"):
    Genre.append(i.text)

In [71]:
#creating pandas data frame and saving the details

Novels = pd.DataFrame({"Book_Name":Book_Name,"Author_Name":Author_Name,"Volumes_Sold":Volumes_Sold,"Publisher":Publisher,"Genre":Genre})

Novels

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [72]:
driver.close()

# Q9.Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [73]:
#importing required libraries
import selenium
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import requests
import re

In [74]:
#connecting to the webdriver
driver=webdriver.Edge(r"C:\Users\invra\Downloads\edgedriver_win64\msedgedriver.exe")

In [75]:
#maximizing the window
driver.maximize_window()

In [76]:
#opening the given  link on automated edge browser
driver.get("https://www.imdb.com/list/ls095964455/")

time.sleep(3)

In [77]:
# creating empty lists
Name = []
Year_Span = []
Genre = []
Run_Time = []
Ratings = []
Votes = []

# scraped data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
    
# scraped data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_Span.append(i.text)
    
    
# scraped data of Genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
    
# scraped data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_Time.append(i.text)
    
    
# scraped data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
    
# scraped data of Votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [78]:
#Creating pandas data frame
TV_Series = pd.DataFrame({"Name":Name,"Year_Span":Year_Span,"Genre":Genre,"Run_Time":Run_Time,"Ratings":Ratings,"Votes":Votes})

TV_Series

,Name,Year_Span,Genre,Run_Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,100,204"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,190,475"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"994,209"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"294,237"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"253,343"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,377"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,987"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"199,948"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,715"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"247,002"

In [79]:
driver.close()

# Q10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [80]:
#importing required libraries
import selenium
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import requests
import re

In [81]:
#connecting to the webdriver
driver=webdriver.Edge(r"C:\Users\invra\Downloads\edgedriver_win64\msedgedriver.exe")

In [82]:
#maximizing the window
driver.maximize_window()

In [83]:
#opening the given  link on automated edge browser
driver.get("https://archive.ics.uci.edu/")

time.sleep(3)

In [84]:
# fetching view all dataset button from the webpage

viewall_dataset = driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(3)

In [86]:
# fetching page urls of all datasets
view_list = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")
list_url = view_list.get_attribute("href")
driver.get(list_url)
time.sleep(3)

In [87]:
# fetching urls for each dataset
dataset_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")

urls = []
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [89]:
# creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

for i in urls:
    driver.get(i)
    time.sleep(3)
    
    
    # scraping  Dataset name
    try:
        dataset_name = driver.find_element(By.XPATH,"//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
   
    
    
    
    # scraping data type
    try:
        data_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[2]")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
   
    
    
    # scraping Task
    try:
        task = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
   
    
    
    
    # scraping Attribute type
    try:
        attribute_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
  
    
    
    
    # scraping No of Instances
    try:
        instances = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
   
    
    
    
    # scraping No of Arrtibutes
    try:
        attribute = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
  
    
    
    # scraping Year
    try:
        year = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')

KeyboardInterrupt:

In [90]:
# Interupted manually as it taking long to collect data, can be further collected data, if not interrupted

#creating pandas data frame
UCI_ML=pd.DataFrame({"Dataset_name":Dataset_name,"Data_type":Data_type,"Task":Task,"Attribute_type":Attribute_type,"No_of_instances":No_of_instances,"No_of_attributes":No_of_attributes,"Year":Year})
UCI_ML

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
89,Carbon Nanotubes Data Set,Univariate,Regression,Real,10721,8,2018
90,Cardiotocography Data Set,Multivariate,Classification,Real,2126,23,2010
91,Cargo 2000 Freight Tracking and Tracing Data Set,"Multivariate, Sequential","Classification, Regression",Integer,3942,98,2016
92,Census Income Data Set,Multivariate,Classification,"Categorical, Integer",48842,14,1996
93,Census-Income (KDD) Data Set,Multivariate,Classification,"Categorical, Integer",299285,40,2000

In [ ]:
driver.close()